<% include header.ejs %>

<h1>Task #<%= taskId %></h1>

<table class="table table-sm task-evaluation-table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Neptun code</th>
        <th scope="col">Late</th>
        <th scope="col">Result</th>
        <th scope="col">Comment</th>
        <% if (isAdmin){ %>
            <th scope="col">Attachment</th>
        <% } %>
    </tr>
    </thead>
    <tbody>
    <% for (const rating of submissions){ %>
        <tr class="<%= { 'Bad': 'table-danger', 'Ok': '', 'Great': 'table-success' }[rating.rating] %>" data-task-id="<%= taskId %>" data-user-id="<%= rating.neptun %>">
            <th scope="row"><%= rating.neptun %></th>
            <td class="late-chkbox"><input type="checkbox" disabled <% if (rating.late){ %>checked<% } %>></td>
            <td class="result-value"><%= rating.rating %></td>
            <td class="comment-value"><%= rating.comment %></td>
            <% if (isAdmin){ %>
            <td>
                <a href="/api/upload/<%= taskId %>/<%= rating.neptun %>">[attachment]</a>
            </td>
            <% } %>
        </tr>
    <% } %>
    </tbody>
</table>

<% include footer.ejs %>
