<% include header.ejs %>

<h1>Tasks</h1>

<div class="task-list">
    <% for (const task of tasks) { %>
    <div>
        <h3><span class="task-title" data-id="<%= task._id %>"><%= task.name %></span> (deadline: <span class="task-date" data-id="<%= task._id %>"><%= task.deadline.toJSON().slice(0,-1) %></span>)
            <% if (isAdmin){ %>
                <a href="/api/task/<%= task._id %>" class="task-delete">[delete]</a>
            <% } %>
        </h3>
        <p class="task-description"><%= task.description %></p>
    </div>
    <% } %>
    <% if (isAdmin){ %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create new task</h5>
            <form method="post" action="/api/task" class="create-new-task">
            <div class="card-text">

                    <div class="form-group form-row">
                        <input type="text" class="form-control col-8" placeholder="Taskname" name="title">
                        <input type="datetime-local" class="form-control col-4" name="date">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="description"></textarea>
                    </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Create">
            </form>
        </div>
    </div>
    <% } %>
</div>

<% include footer.ejs %>
